ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1.2em;
}

ul li, ol li, tbody th, tbody td {
    margin: 0em !important;
    padding-top:2px !important;
    padding-bottom:2px !important;
}

code {
    font-size: 80% !important;
}

/* Adjust font size for code blocks */
pre code {
    font-size: 80% !important;
}

